# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Vector DB
vector_db/

# Exported PDFs
exported_pdfs/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log